
h4{
    padding-left: 30%;
    margin-top: 10%;
}
h1{
    padding-left: 15%;
}
p{
    margin: 25px;
    padding-right: 25px;
}
.upper{
    height: 100px;
    margin: 0;
    background-color: rgb(54, 46, 46);
    display: flex;
    padding-left: 14%;
    gap: 15%;
    font-family: 'poppins',sans-serif;
    align-items: center;
    list-style: none;
}
.upper li a{
    text-decoration: none;
    color: white;
}
.second{
    display: flex;
    height: 50%;
}
.midleft{
    background-color: rgb(227, 199, 199);
    width: 60%;
}
.midright{
    background: rgb(212, 164, 164);
    width: 40%;
}

 .button{ 
    background-color: rgb(189, 162, 162);
    display: flex;
    margin-left: 30%;
    padding: 20px;
    margin-right: 30%;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 25px;
    margin-top:6%;
}

.icon{
    background-color: rgb(183, 162, 162);
    display: flex;
    justify-content: center;
    gap: 30%;
    padding: 50px;
}
button{
    background-color: rgb(56, 223, 168);
}